# Java
**/target/
**/.mvn/

# IDE
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
.idea/
*.iml
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Node/frontend
**/node_modules/

# Logs
*.log
